{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block content %}
<h1 class="text-center">Request Dashboard</h1>
<h2 class="text-center">സഹായം അഭ്യര്‍ഥിക്കാന്‍</h2>

<div class="container-fluid">
  <div class="col-md-6">
    <div class="row">
      <div id="chart-district" style="min-width: 400px; height: 400px; margin: 0 auto">
      </div>
    </div>
    <div class="row">
      <div id="chart-location" style="min-width: 400px; height: 400px; margin: 0 auto">
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row">
<div id='map' style='height: 800px;'></div>    </div>
  </div>

</div>

<script src="https://code.highcharts.com/highcharts.src.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.48.0/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.48.0/mapbox-gl.css' rel='stylesheet' />

<script type="text/javascript">
/**************
** FUNCTIONS
**************/
var gDistrictKV = {
  'alp':'Alappuzha - ആലപ്പുഴ',
  'ekm':'Ernakulam - എറണാകുളം',
  'idk':'Idukki - ഇടുക്കി',
  'knr':'Kannur - കണ്ണൂർ',
  'ksr':'Kasaragod - കാസർഗോഡ്',
  'kol':'Kollam - കൊല്ലം',
  'ktm':'Kottayam - കോട്ടയം',
  'koz':'Kozhikode - കോഴിക്കോട്',
  'mpm':'Malappuram - മലപ്പുറം',
  'pkd':'Palakkad - പാലക്കാട്',
  'ptm':'Pathanamthitta - പത്തനംതിട്ട',
  'tvm':'Thiruvananthapuram - തിരുവനന്തപുരം',
  'tcr':'Thrissur - തൃശ്ശൂർ',
  'wnd':'Wayanad - വയനാട്',
}


  function getDistrictData(){
    var url = "/api/1/request-dashboard/district/";

    $.ajax({
      type: 'GET',
      url: url,
    })
    .done(function(data) {
        displayDistrictData(data);
    })
    .fail(function(xhr, errmsg, err) {
      console.log("There was an error while getting data");
    });
  }


  function displayDistrictData(data) {
    var seriesData = [];

    for(var i in data){
      seriesData.push(
        [
          gDistrictKV[data[i].district],
          data[i].count
        ]);
    }

    Highcharts.chart('chart-district',{
        chart: {
            type: 'bar',
            backgroundColor:'rgba(255, 255, 255, 0.0)',
            borderWidth:1,
            borderColor:'black'
        },
        title: {
            text: 'Requests by District'
        },
        xAxis: {
            type: "category"
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Requests'
            }
        },
        legend: {
          enabled: false,
        },
        plotOptions: {
            /*series: {
                stacking: 'normal'
            }*/
        },
            series: [{
            name: 'District',
            data: seriesData
        }]
    });
  }


  function getLocationData(){
    var url = "/api/1/request-dashboard/location/";

    $.ajax({
      type: 'GET',
      url: url,
    })
    .done(function(data) {
        displayLocationData(data);
    })
    .fail(function(xhr, errmsg, err) {
      console.log("There was an error while getting data");
    });
  }


  function displayLocationData(data) {
    var seriesData = [];

    for(var i in data){
      seriesData.push(
        [
          data[i].location,
          data[i].count
        ]);
    }

    Highcharts.chart('chart-location',{
        chart: {
            type: 'bar',
            backgroundColor:'rgba(255, 255, 255, 0.0)',
            borderWidth:1,
            borderColor:'black'
        },
        title: {
            text: 'Requests by Location'
        },
        xAxis: {
            type: "category"
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Requests'
            }
        },
        legend: {
          enabled: false,
        },
        plotOptions: {
            /*series: {
                stacking: 'normal'
            }*/
        },
            series: [{
            name: 'Location',
            data: seriesData
        }]
    });
  }

  function getMapData(){
    var url = "/api/1/request-dashboard/map/";

    $.ajax({
      type: 'GET',
      url: url,
    })
    .done(function(data) {
      displayMap(data);
    })
    .fail(function(xhr, errmsg, err) {
      console.log("There was an error while getting data");
    });
  }


function displayMap(data){
  mapboxgl.accessToken = '{{ mapbox_access_key }}';
  var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/light-v9',
      center: [75.6372503, 10.0691346],
      zoom: 7
  });

  map.on('load', function() {

    for(var i in data){
      var latlng = data[i].latlng.split(",").map(parseFloat)


      map.addLayer({
        id: data[i].id.toString(),
        type: 'circle',
        source: { type: 'geojson',
                data: {
                "type": "Feature",
                "geometry": {
                  "type": "Point",
                  "coordinates": [latlng[1], latlng[0]]
                },
                "properties": {
                  "requestee": data[i].requestee,
                  "location": data[i].location,
                  "accuracy": data[i].latlng_accuracy,
                  "id": data[i].id,
                }
              }
        },
        paint: {
          'circle-radius': 8,
          'circle-opacity': 0.8,
          'circle-color': 'rgb(171, 72, 33)'
        }
      });

    }

    // When a click event occurs near a place, open a popup at the location of
    // the feature, with HTML description from its properties
    map.on('click', function(e) {
      var features = map.queryRenderedFeatures(e.point);
      // if the features have no info, return nothing
      if (!features.length) {
        return;
      }

      var feature = features[0];

      // Populate the popup and set its coordinates
      // based on the feature found
      var popup = new mapboxgl.Popup()
      .setLngLat(feature.geometry.coordinates)
      .setHTML('<div id=\'popup\' class=\'popup\' style=\'z-index: 10;\'> <h5> Detail: </h5>' +
      '<ul class=\'list-group\'>' +
      '<li class=\'list-group-item\'> <b>Requestee:</b> ' + feature.properties['requestee'] + ' </li>' +
      '<li class=\'list-group-item\'> <b>Location:</b> ' + feature.properties['location'] + ' </li>' +
      '<li class=\'list-group-item\'><b> GPS Accuracy:</b> ' + feature.properties['accuracy'] + ' </li>' +
      '<li class=\'list-group-item\'> <a href="/request_details/' + feature.properties['id'] + '/"> More details> </a> </li>' +

      // '<li class=\'list-group-item\'> Vehicle Count: ' + feature.properties['8HrVehVol'] + ' </li>' +
      // '<li class=\'list-group-item\'> Pedestrian Count: ' + feature.properties['8HrPedVol'] + ' </li>' +
      '</ul></div>')
      .addTo(map);
    });



  });
}

getDistrictData();
getLocationData();
getMapData();
</script>
<style>
.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

</style>
{% endblock %}
